.btn-info {
    color: #ffffff;
    background-color: #308D89;
    border-color: #00bcd4;
    box-shadow: none;
}
.card .card-header-info .card-icon, .card .card-header-info .card-text, .card .card-header-info:not(.card-header-icon):not(.card-header-text), .card.bg-info, .card.card-rotate.bg-info .front, .card.card-rotate.bg-info .back {
    background: linear-gradient(60deg, #308D89, #308D89);
}