<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="row">
        <div class="card-header card-header-info col-lg-3 col-md-12" style="margin-left: 30px;margin-right: 30px;" >
            <button class="btn-info" (click)="openDialog()" style="width: 90%;margin:auto;height: 100%;font-size: x-large;border: none;">+ Nouvelle Voiture</button>
            <!-- <button mat-raised-button (click)="openDialog()">Open dialog without animation</button> -->
        </div>
      </div>
      <!-- <button (click)="openDialog()">Popup</button> -->
       <div class="card-body">
          <div class="row">
            <div class=" col-lg-3 col-md-6 " *ngFor="let voiture of voitures">
              <div>
                <img [src]="voiture.photo2" class="card-img-top" alt="..." style=" height: 190px;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">{{voiture.marque}} {{voiture.modele}}</h5>
                  <p class="card-text" style="font-size: large;">Quantité: {{voiture.quantite}}</p>
                  <div style="display: flex; align-items: center; justify-content: center;">
                  <a style="margin-left: 10%; width: 70%; font-size: large;" href="#" class="btn">Details  </a>
                  <i class="material-icons" style="color: red; cursor: pointer;"  (click)="delete(voiture.idVoiture)">delete</i>
                </div>
                </div>
              </div>
              </div> 
           
        </div>
    </div>
</div>
